<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Serilog" version="2.9.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Debug" version="1.0.1" targetFramework="net48" />
  <package id="Serilog.Sinks.EventLog" version="3.1.0" targetFramework="net48" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net48" />
</packages>